@import "variables";
.footer{
  display: block;
  padding-top: 60px;
  width: 100%;
}

.back-button{
    width: 100%;
}
.back-button button{
    width: 100%;
    height: 40px;
    background-color: #183F52;;
    color: $white;
    font-size: 17px;
    cursor: pointer;
    border: none;
    padding: 0;
}


.back-button button:hover{
   background-color: #1D4C63;
}



.footer-infor{
     text-align: center;
    font-size: 17px;
   color: $white;
    padding-top: 30px;
   background-color: $blue;
   border-bottom: 1px solid  #3C4455;
   padding-bottom: 30px;
}


.buttom-logo{
     background-color: $blue;
     display: flex;
}

.buttom-logo img{
       width: 150px;
    padding-top: 15px;
    margin: auto;
    padding-bottom: 15px;
    height: 100px;
}



