
@import "variables";
.product-show{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 50px;
    padding-left:15px;
    padding-right: 15px;
}

.detail-show{
    height:100%;
    width:100%
}
.main-photo{
    display: flex;
    width: 85%;
    height: 450px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    padding-left: 10px;
}

.sub-photos{
    max-width: 180px;
    max-height: 100px;
    object-fit: cover;
    cursor: pointer;
    margin: 5px;
    object-fit: cover;
    opacity: 0.7;
    background-color: $white;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .1);
}

.sub-photos:hover{
    opacity: 1;
}

.slide-wrapper{
    overflow-y: hidden;
}


.produnct-images-container{
    display: flex;
    width: 40%;
    flex-direction: row;
}

.product-description{
    display: flex;
    width: 40%;
    display: inline-block;
    padding-right: 100px;
    line-height: 1;
}

.product-checkout{
    display: flex;
    width: 20%;
}

.sub-slider{
   width: 11%;
   display: flex;
   flex-direction: column;
}

.product-description h1{
    font-weight: 600;
    font-size: 35px;
    color: $black;
}

.product-description h2{
    font-weight: 500;
    font-size: 15px;
    color: $lightblue;
    border-bottom: 1px solid #e7e7e7;;
    padding-top: 5px;
    padding-bottom: 10px;
}

.product-description h4{
    font-size: 16px;
    color: grey;
    display: inline-block;
    margin-top: 13px;
    padding-right: 5px;
}

.product-description h6{
    color: $darkred;
    font-Weight:700;
    font-size: 22px;
    display: inline-block;
    margin: 13px 5px 10px 0;
}

.product-description h5{
    font-size: 15px;
    color: #49A6CC;
    display: inline-block;
    margin: 10px 5px 10px 0;
    margin-top: 20px;
}

.description{
    color:$black;
    align-items: left;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
}

.description span{
    font-weight: 500;
    font-size: 16px;

}

.description p{
    margin-bottom: 18px;
}



.product-checkout{
    display: inline-block;
    line-height: 1.5;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    vertical-align: top;
    max-width: 270px;
   padding:29px 17px;
}


.product-checkout h3{
    color: $darkred;
    font-Weight:700;
    font-size: 22px;
}

.product-checkout h4{
    color: $lightblue;
    font-size: 13px;
}

.product-checkout h5{
    color: green;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-quanitity{
    width: 52px;
    height: 21px;
    border-radius: 4px;
    background: $lightergrey;
    margin-bottom: 50px;
}

.addTocart{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    background-color: $orange;
    border-radius: 4px;
    border: 1px solid $border;
    cursor: pointer;
    padding: 6px;
    font-size: 16px;
    height: 34px;
}

.buynow{
    display: block;
    width: 100%;
    background-color: $orange;
    border-radius: 4px;
    border: 1px solid $border;
    cursor: pointer;
    font-weight: 500;
    padding: 6px;
    font-size: 16px;
    height: 34px;
}
.slide-wrapper{
    width: 85%;
}



.price{
    display: inline-block;
    margin:30px 0px 30px 0px;
    display: flex;
}

