@import "variables";
.products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 380px
}

.product-item {
    display: flex;
    flex-direction: column;
    background-color: #FFFBF2;
    width: 23.75%;
    margin-left: 1%;
    margin-top: 1%;
    margin: auto;
    margin-bottom: 20px;
    align-content: center;
    box-sizing: border-box;
    padding: 19px;
}

.product-item > div {
    width: 100%;
    text-align: center;
}

.product-index-photo{
    width: 100%;
}

.product-img::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.product-img{
    background-position: center;
    background-size: cover;
}

.home {
    background-color: $lightergrey;
    display: flex;
    flex-direction: column;
}

.banner {
   height: 500px;
    width: 100%;
    position: absolute;
    background-position: center;
   background-size: cover;

    
}

.display-show{
    overflow: scroll;
    white-space: nowrap;
    width: 100%;

}

.display-show li{
    display: inline-block;
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-right: 20px;

}


.home-content{
    padding: 19px;
    z-index: 1;
}

.button-slider{
    position: absolute;
    top: 50%;
    height: 100px;
    transform: translateY(-50%);
}
.button-backward{
    right: 0;
}

.button-forward{
    left: 0;
}

.slider{
     position: relative;
}

.link-picture {
    height:100%;
    width:100%;
    display: block;
}


