
@import "variables";
.product-show{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 50px;
    padding-left:15px;
    padding-right: 15px;
}

.detail-show{
    background-color:$white;
    height:100%;
    width:100%
}
.main-photo{
    display: flex;
    width: 450x;
    height: 450px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    padding-left: 10px;
}

.sub-photos{
    max-width: 180px;
    max-height: 100px;
    object-fit: cover;
    cursor: pointer;
    margin: 5px;
    object-fit: cover;
    opacity: 0.5;
    transition: 0.3s
}

.sub-photos:hover{
    opacity: 1;
}

.slide-wrapper{
    overflow-y: hidden;
}


.produnct-images-container{
    display: flex;
    width: 35%;
    flex-direction: row;
}

.product-description{
    display: flex;
    width: 50%;
}

.product-checkout{
    display: flex;
    width: 15%;
}

.sub-slider{
   width: 11%;
   display: flex;
   flex-direction: column;
}

