form{
    border: 2px solid;
    width: 400px;
    height: auto;
    align-content:center;
    margin: auto;
    padding-top: 10px;
}



.form-content{
    align-items: center ;
}

.form-content  input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

