$black: #051C26;
$border: #ccc;
$orange: #febd69;
$white: #FFFBF2;
$lightergrey: rgb(240, 239, 239);
$darkblue: #0D2530;
$lightgrey: lightgray;
$blue: #112e3b;
$darkred: darkred;
$darkorange: #dfa55a;
$font-family: sans-serif;
$grey: grey;
$lightorange:orange;
$red: red;

$font: serif;